//Login.css
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffcbd7;
  }
  
  .login-form {
    background-color: #FFF;
    padding: 20px;
    padding-right: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fea27f;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }

  .login-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  